{% extends "layout.twig" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/images/banners/msi-game-promotion_01.jpg" class="img-responsive">
        </div>
        <hr/>
        <div class="panel-body">
            <div class="row">
                {% for product in products %}
                <div class="col-md-3">
                    <div class="thumbnail spotlight-item">
                        <div class="spotlight-image">
                            <img src="/images/products/{{ product.brand }}/{{ product.name }}_01.png">
                        </div>
                        <div class="caption">
                            <div>
                                <span class="text-muted">{{ product.brand|capitalize }}</span><br/>
                                <span>{{ product.fullname }}</span>
                            </div>
                            <br/>
                            <div class="pull-left">
                                <span class="text-danger lead">{{ price(product.price) }}</span>
                            </div>
                            <div class="pull-right">
                                <a href="{{ path('cart-add', {id: product.id}) }}" class="btn btn-success" role="button">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}