{% extends "layout.twig" %}

{% block content %}
<div class="panel panel-default">
    <table class="table">
        <caption>Winkelwagen</caption>
        <thead>
            <tr>
                <th>Product</th><th class="text-right">Prijs</th><th class="text-right">Aantal</th><th class="text-right">Totaal</th>
            </tr>
        </thead>
        <tbody>
            {% for cartItem in cartItems %}
            <tr>
                <td>
                    {{ cartItem.product.name }} <br/>
                    <span class="text-muted">{{ cartItem.product.brand }}</span>
                </td>
                <td class="vert-align-middle text-right">

                    {{ price(cartItem.product.price) }}
                </td>
                <td class="vert-align-middle text-right">
                    {{ cartItem.amount }}
                </td>
                <td class="vert-align-middle text-right">
                    {{ price(cartItem.price) }}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td class="text-right" colspan="3"><strong>Totaal: </strong></td><td class="text-right"><strong>{{ price(totalPrice) }}</strong></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}